# Archivos de compilación y resultados
/bin/
/gen/
/obj/
*.apk
*.dex
log.txt
debug_log.txt

# Keystores y certificados (NUNCA subir)
*.keystore
*.jks
*.cert

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
/.idea/
*.iml